<!DOCTYPE html>
<html>
<head>
    <title>我们的故事</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/damoo.js"></script>
</head>
<body>
<div id="dm-main">
    <div id="dm-screen" width="100" height="600">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/NlAqZvc9ylA?autoplay=1&loop=1&list=PLmPS5qokZglSwmnrCBWk51hBRFI62v-Aw" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<script type="text/javascript" src="/javascripts/initialDamoo.js"></script>
</body>
</html>
