<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/damoo.js"></script>
</head>
<body>
<div id="dm-main">
    <div id="dm-screen" width="800" height="600">
        <iframe width="800" height="600" src="https://www.youtube.com/embed/NlAqZvc9ylA?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<script>


    $(window).on("load", function() {
        var Damoo = window.Damoo;
        var damoo = Damoo('dm-screen', 'dm-canvas', 24);
        damoo.start();
        damoo.emit("");

        var danmakuFetcher = function() {
            $.getJSON('/danmaku/getDanmaku', function(data){
                for( var text of data.data) {
                    damoo.emit(text);
                }
                setTimeout(danmakuFetcher, 500);
            })
        }
        danmakuFetcher();
    });
</script>
</body>
</html>
